body{
    background-color: rgb(63, 167, 216);
}

div{
   text-align: center;
    background: blue;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 15%;
    padding-top: 10%;
}
.increment{
    background-color: brown;
text-decoration: none;
outline: none;
color: black;
    
}



